.apresentacao {
    display: flex;
    justify-content: space-between;

}

.apresentacao .imagem {
    width: 45%;
}
.apresentacao .contato {
    width: 55%;
}
.apresentacao .imagem img {
    max-width: 100%;
}
