.landing {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C114;
    max-height: calc(100vh - 104px);
    overflow: hidden;
}

.landing .imagem{
    width: 55%;
    text-align: center;
}

.landing .text{
    width: 45%;
    padding: 0 30px;
    color: #fff;
}

.landing .text h1{
    color: #fff;
    font-weight: 400;
}

.landing .text p{
    color: #232323;
    font-weight: 700;
}

.landing .imagem img{
    height: 100%;
}